#app {
    margin: 0 auto;
    width: 768px;
}

.loading {
    background-color: blue;
    color: white;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    width: 100px;
}

h1,
.controls {
    display: inline-block;
    width: 50%;
}

h1 { 
    text-align: left;
}

button {
    padding: 5px;
    cursor: pointer;
}

.controls { 
    text-align: right;
}

.calendar {
    font-size: 12px;
    border-spacing: 0;
    width: 100%;
}

.calendar td,
.calendar th {
    padding: 5px;
    vertical-align: top;
}

.calendar thead th {
    border-top: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.calendar tbody td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    height: 100px;
    width: 100px;
}

.calendar tbody .today {
    background-color: #eee;
}

.calendar tbody td:last-child {
    border-right: 1px solid #ccc;
}

.calendar tbody tr:last-child td {
    border-bottom: 1px solid #ccc;
}

.calendar tbody td .number {
    font-size: 14px;
}

.calendar tbody td .event {
    background-color: rgb(51, 182, 121);
    color: #fff;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 0 5px 0;
    overflow: hidden;
    padding: 0 5px;
    word-break: break-all;
}